@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    color: #775040;
}

/* headings and logos */

h1, h2 {
    font-family: Caveat, sans-serif;
    letter-spacing: 6px;
    color: #4D352B;
}

#title {
    float: left;
    font-size: 300%;
}