@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    color: #100c01;
}

/* headings and logos */

h1, h2 {
    font-family: Caveat, sans-serif;
    letter-spacing: 6px;
    color: #4D352B;
}

#title {
    float: left;
    font-size: 300%;
}

/* Navigation links */

#menu {
    font-size: 140%;
    letter-spacing: 6px;
    }

    #menu, #title {
    line-height: 80px;    
}

 #menu li {
     float: right;
     list-style-type: none;
     margin-right: 40px;
 }

 #menu a {
     text-decoration: none;
     color: inherit;
 }

 #menu a:hover {
     border-bottom: 2px solid #100c01;
 }

 .navbar {
     border-bottom: 2px solid #100c01;
 }

 /* Main Image */

 #main-image {
     height: 600px;
     width: 100%;
     background: url(../images/Cappadocia\,\ Turkey\ main\ image.jpg) no-repeat;
     background-size: cover;
     
 }

 /* Why Choose Us Section */

 #choose-us {
     height: 600px;
 }

 #left-section {
     width: 33%;
     float: left;
     padding-top: 30px;
 }

#right-section {
     width: 33%;
     float: right;
     padding-top: 30px;
 } 
 
 #center-section {
     width: 33%;
     margin: 0 auto;
      }

 .choose-us-left {
     width: 60%;
     float: right;
     line-height: 22px;
     clear: both;
     margin-bottom: 65px;
 }

 .choose-us-right {
     width: 60%;
     float: left;
     line-height: 22px;
     clear: both;
     margin-bottom: 65px;
 }

 .choose-us-right, h2, p {
     text-align: right;
}

#headingtwo {
    text-align: center;
    font-size: 250%;
    margin: 25px 0;
}

#circle-border {
    width: 150px;
    height: 150px;
    padding: 15px;
    border-style: solid;
    border-color: #ccc;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-border-bg-one {
    background: url(../images/Iceland\,\ Idyllic\ Icelandic\ lake\ home\ page\ small.jpg) no-repeat center center;
    height: 100%;
}