@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Raleway, sans-serif;
    background: #A78458;
    background: linear-gradient(175deg, rgba(158,174,210,1) 0%, rgba(142,75,0,1) 96%, rgba(178,92,0,1) 100%);
    font-weight: 800;
}

/* headings and logos */

h1, h2 {
    font-family: Caveat, sans-serif;
    letter-spacing: 6px;
    color: #4D352B;
}

#title {
    float: left;
    font-size: 300%;
}

/* Navigation links */

#menu {
    font-size: 140%;
    letter-spacing: 6px;
    }

    #menu, #title {
    line-height: 80px;    
}

 #menu li {
     float: right;
     list-style-type: none;
     margin-right: 40px;
 }

 #menu a {
     text-decoration: none;
     color: inherit;
 }

 #menu a:hover {
     border-bottom: 2px solid #100c01;
 }

 .navbar {
     border-bottom: 2px solid #100c01;
 }

 /* Main Image */

 #main-image {
     height: 600px;
     width: 100%;
     background: url(../images/Cappadocia\,\ Turkey\ main\ image.jpg) no-repeat;
     background-size: cover;
     
 }

 /* Why Choose Us Section */

 #choose-us {
     height: 600px;
 }

 #left-section {
     width: 33%;
     float: left;
     padding-top: 30px;
 }

#right-section {
     width: 33%;
     float: right;
     padding-top: 30px;
 } 
 
 #center-section {
     width: 33%;
     margin: 0 auto;
      }

 .choose-us-left {
     width: 60%;
     float: right;
     line-height: 22px;
     clear: both;
     margin-bottom: 65px;
 }

 .choose-us-right {
     width: 60%;
     float: left;
     line-height: 22px;
     clear: both;
     margin-bottom: 65px;
 }

 .choose-us-right, h2  {
     text-align: right;
}

#headingtwo {
    text-align: center;
    font-size: 250%;
    margin: 25px 0;
}

#circle-border {
    width: 155px;
    height: 155px;
    padding: 15px;
    border-style: solid;
    border-color: #ccc;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-border-bg-one {
    background: url(../images/Lighthouse\ homepage\ pic\ 1.jpg) no-repeat center;
    height: 100%;
    border-radius: 50%;
}

#circle-border-bg-two {
    background: url(../images/Trees\ homepage\ pic\ 2.jpg) no-repeat center;
    height: 100%;
    border-radius: 50%;
}

#circle-border-bg-three {
    background: url(../images/Mountains\ homepage\ pic\ 3.jpg) no-repeat center;
    height: 100%;
    border-radius: 50%;
}

/* Footer */

footer {
    height: 240px;
}

.social-icons {
    text-align: center;
}

.social-icons li {
    list-style: none;
    margin: 1%;
    display: inline-block;
    font-size: 20px;
    padding: 2.5%;
    color:#100c01;
    border: 1px solid;
    border-radius: 50%;
    transition: .5s;
}

